{% extends 'portfolio/base.html' %} {# здесь указываем что наша страница принадлежит шаблону base.html #}
{% load static %} {# прописываем эту команду, чтобы можно было вставлять статические файлы (в нашем случае изображения). Команду можно писать в любом месте, но до вставки самого файла #}
{% block content %} {# указываем в какой блок вставляем. Имя блока должно быть как в base.html #}

<div class="container text-center">
{#  <div class="col-5">#}
    <img src="{% static 'portfolio/20140706_094935.jpg' %}" height="400" width="300">{# вставляем статическую картинку из созданной нами папки "static" с указанием дальнейшего пути (если есть) и название файла (файл туда закидываем напрямую перетаскиванием) #}
{#  </div>#}
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Это я. И я только начинаю изучать python и django.</h1>
  </div>
</div>
<h2 class="mt-5">Портфолио</h2>
<hr>{# это линия на всю ширину страницы #}
<div class="row">
    <!--так в джанго оформляется цикл for для работы с шаблонами. Чтобы созданные шаблоны проектов автоматически отображались на сайте-->
    {% for project in projects %} <!--при логических связях с шаблонами используем % {процент  процент}, если просто словарь надо используем двойные { }-->
    <div class="col-lg-4 col-md-6">


        {# <p><img src="{{ project.image.url }}" height="100" width="60"></p> #} <!--выводим картинку нашего проекта, также можем опционально задать ее размеры-->
        {#    <p>{{ project.image.url }}</p> <!--а так отобразится только путь до картинки-->#}
        {#    <a href="{{ project.image.url }}">Ссылка на фото</a> <!--а так отобразится гиперссылка до картинки-->#}
        <!--напишем другую ссылку по другому: если ссылка в админской панели для этого проекта Project существует (написана в поле URL), то отобразим ее-->
        {% if project.url %}
        <a href="{{ project.url }}">
            <img src="{{ project.image.url }}" height="200" width="415">
        </a>
        {% else %}
        <img src="{{ project.image.url }}" height="200" width="415">
        {% endif %}

        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %} {# закрываем блок #}